@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #222831;
    font-family: 'Open Sans', sans-serif;
    
}

header {
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #3D405B;
    
}

.logo a {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.logo span {
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-links a {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    padding: 0 2rem;
    color: #FFFFFF;
    transition: ease 0.3s;
}
.nav-links a:hover {
    color: #D3D3D3;
}

.burger {
    font-size: 1.7rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-right: 5vw;
    cursor: pointer;
    transition: ease .35s;
    display: none;
}
.burger i {
    color: #FFFFFF;
}
.container {
    min-height: 86vh;
    width: 100%;
    padding-bottom: 80px;
    background-color: #E8E8E4;
    text-align: center;
}

.section-title {
    padding: 40px 0 10px 0;
    margin: 20px 0 60px 0;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.section-title:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -5px;
    left: 25%; 
    border-bottom: 3px solid #000000;
}

.btns-container {
    padding: 40px 20px 0px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 1px solid black;
    cursor: pointer;
    padding: 7px 10px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    transition: ease .3s;
}
.btn:hover {
    background-color:#3D405B;
    color: #FFFFFF;
}

.books-container {
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 100px 50px;
}

.book {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eff0f4;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    transition: all ease .25s;
}

.book:hover {
    background-color:#f8fcfb;
    /*transform: translateY(-15px);*/
}
.book:hover button{
    background-color: #ffd933;
}
.book img {
    max-width: 70%;
    cursor: pointer;
}


.book h2 {
    font-size: 1.1rem;
    font-weight: 600;
}
.book h3 {
    font-size: 1rem;
    font-weight: 400;
}
.book button {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color ease .25s;
}


.modal {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 40, 49, 0.7);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.content{
    width: 70%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E8E8E4;
    position: relative;
    padding: 50px;
    overflow-y: auto;
}

#book-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

#book-decription {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
}
#shop-btn {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    background-color: #ffd933;
    color: #212121;
    transition: background-color linear .25s;
}
#shop-btn:hover {
    background-color: transparent;
    
}
#close-btn {
    position: absolute;
    top: 3vh;
    right: 2vw;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
#close-btn i {
    font-size: 1.6rem;
    color: #c40018;
    transition: transform ease .25s;
}
#close-btn i:hover {
    transform: rotate(-90deg)
}
.active {
    visibility: visible;
}

footer {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E4;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
}



/* media queries */
@media screen and (max-width: 1211px) {
    .content{
        width: 80%;
        min-height: 80%;
        padding: 20px;
    }
}
@media screen and (max-width: 761px) {
    .content{
        width: 80%;
        min-height: 80%;
    }
    #book-decription {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 636px) {
    .content{
        width: 80%;
        min-height: 90%;
        padding: 20px;
    }
}
@media screen and (max-width: 531px) {
    .content{
        width: 80%;
        min-height: 90%;
    }
}

@media screen and (max-width: 650px) {
    .logo a{
        font-size: 1.8rem;
        }
        
    .nav-links {
        position: fixed;
        top: 8vh;
        right: 0;
        height: 92vh;
        width: 50%;
        padding: 100px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #3D405B;
        transform: translateX(100%);
        transition: transform ease .35s;
        }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform ease .35s;
}